<!--All drivers in the database table page-->
{%extends "layout.html"%}
{%block content%}
    <header>
        <h1>Drivers</h1>
        <nav>
            <!--Nav buttons-->
            <a href="/">Home</a>
            <a href="/teams">Teams</a>
            <a href="/year">Years</a>
        </nav>
    </header>
    <!--Data table-->
    <table>
        <!--Name of each column-->
        <tr>
            <th>Name</th>
            <th>Driver #</th>
            <th>Championships</th>
            <th>Country</th>
            <th>Time Period</th>
            <th>Current/last Team</th>
            <th>Race Wins</th>
        </tr>
        <!--Getting the data and displaying it-->
        {% for name in results %}
        <tr>
            <td>{{ name[1] }}</td>
            <td>{{ name[2] }}</td>
            <td>{{ name[3] }}</td>
            <td>{{ name[4] }}</td>
            <td>{{ name[5] }}</td>
            <td>{{ name[6] }}</td>
            <td>{{ name[7] }}</td>
        </tr>
        {%endfor%}
    </table>
{%endblock%}