<!--Searching template-->
{%extends "layout.html"%}
{%block content%}
    <header>
        <h1>Search Results</h1>
        <!--Nav buttons-->
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <!--If results are recieved-->
    {% if results %}
        <!--Data table-->
        <table>
            <!--Name of each column-->
            <tr>
                <th>Name</th>
                <th>Driver #</th>
                <th>Championships</th>
                <th>Country</th>
                <th>Time Period</th>
                <th>Current Team</th>
                <th>Race Wins</th>
            </tr>
            <!--Getting the data and displaying it-->
            {% for result in results %}
            <tr>
                <td>{{ result[1] }}</td>
                <td>{{ result[2] }}</td>
                <td>{{ result[3] }}</td>
                <td>{{ result[4] }}</td>
                <td>{{ result[5] }}</td>
                <td>{{ result[6] }}</td>
                <td>{{ result[7] }}</td>
            </tr>
            {% endfor %}
        </table>
    <!--Else display error that nothing was found-->
    {% else %}
    <h1>Error! No result found.</h1>
    <p>Your query doesn't exist or wasn't typed right.</p>
    {% endif %}
{%endblock%}