{# All drivers in the database table page #}
{%extends "layout.html"%}
{%block content%}
    <header>
        <h1>Years</h1>
        {# Nav buttons #}
        <nav>
            <a href="/">Home</a>
            <a href="/drivers">Drivers</a>
            <a href="/teams">Teams</a>
        </nav>
    </header>
    {# Data table #}
    <table>
        {# Name of each column #}
        <tr>
            <th>Year</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
        </tr>
        {# Getting the data and displaying it #}
        {% for year in results %}
        <tr>
            <td>{{ year[0] }}</td>
            {# Buttons in name text to take you to that driver #}
            <td><a href="/search?query={{ year[1] }}">{{ year[1] }}</a></td>
            <td><a href="/search?query={{ year[2] }}">{{ year[2] }}</a></td>
            <td><a href="/search?query={{ year[3] }}">{{ year[3] }}</a></td>
        </tr>
        {%endfor%}
    </table>
{%endblock%}

