<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Years</title>
</head>
<body>
    <form>
        <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="search" placeholder="Search">
        </div>
    </form>
    <header>
        <h1>Years</h1>
        <nav>
            <a href="/search">Search</a>
            <a href="/">Home</a>
            <a href="/drivers">Drivers</a>
            <a href="/teams">Teams</a>
        </nav>
    </header>
    <table>
        <tr>
            <th>Year</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
        </tr>
        {% for year in results %}
        <tr>
            <td>{{ year[1] }}</td>
            <td>{{ year[2] }}</td>
            <td>{{ year[3] }}</td>
            <td>{{ year[4] }}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>

